.navbar {
    display: flex;
    align-items: center;
    padding: 5px 20px;
}

.rightAligned {
    display: flex;
    margin-left: auto;
}

.rightAligned > p {
    padding: 5px 5px;
}

.dividor {
    margin-top: 0px;
}
